body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

#defaultCanvas0 {

 width: 100vw;
 height: 100vh;

}

input, textarea {

 	background-color: black;
  	color: white;
  padding: 10px;
  width: 90%;

}



#html_content {
  position: absolute;

}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 0px;
  height: 100%;
  width: 100vw;
}

.grid-item {
  font-size: 2vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items:center;
  z-index: 1;
}

#six {
  background-color: black;
  padding: 25px;
  border-radius: 25px 0 0 0;
}

#nine {
  padding: 25px;
  font-family: Helvetica;
  font-weight: lighter;
  color: white;
  font-size: 2vh;
  background-color: black;
  text-transform: uppercase;
  cursor: help;


}


#header {
  align-items: flex-end;
}



.ui-dialog-shadow {
  box-shadow: 5px 5px 20px #000;

}

.ui-widget-content {
  background: black !important;
  color: white !important;
}

.ui-widget-content > h2 {
  font-family: Times;
}


.ui-tabs-nav {
    background: black !important;
    border: 0 !important;
}

.ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 1px;
    background: red;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0 !important;
    background: black !important;
    font-weight: normal;
    color: #454545;
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: black !important;
    color: white !important;
    font-weight: bold;
}

#tabs {
  width: 65vh;
  max-width: 750px;
  overflow: scroll;
  z-index: 3;
  /* color: white !important; */
}



#gundam {
  width: auto;
  text-align: left;
  font-family: monospace;
  font-size: 5px;
  color: grey;
  opacity: 0.5;
  position: absolute;
  top: 33vh;
  left: 33vh;
  z-index: 1;
}

#canvas {
  width: 500px;
  background-color: black;
  text-align: left;
  font-family: monospace;
  font-size: 5px;
  color: grey;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}



/* Details the SVG header graphic animation */

#SVGgraphic {
  align-self: center;
}

.ROARING_TIDES {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  animation: move 20s linear;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

.st3 {

  animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

}
