body {
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 0px;
  height: 100%;
  width: 100vw;
}

.grid-item {
  /* border: 0.5px solid black; */
  font-size: 2vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid grey;
  z-index: 1;
}

#header {
  align-items: flex-end;
  z-index: 5;
}

#tabs {
  width: 75vh;
  max-width: 750px;
  height: 50vh;
  max-height: 750px;
  box-shadow: 5px 10px 20px #000000;
  overflow: scroll;
  align-self: center;
}

.ui-widget-content {
  background-color: black !important;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  background-color: black !important;
}

.ui-widget-header {
  background-color: black !important;
}

#gundam {
  width: auto;
  text-align: left;
  font-family: monospace;
  font-size: 5px;
  color: grey;
  opacity: 0.5;
  position: absolute;
  top: -5vh;
  left: -5vw;
  z-index: 0;
}

#chartContainer {
  align-self: center;
}

#SVGgraphic {
  align-self: center;
}

.ROARING_TIDES {
  fill: none;
  stroke: white;
  stroke-width: 1px;
  animation: move 20s linear;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}
