body,  {
 height: 100%;
 width:100vw;
 scroll-behavior: smooth;
 padding: 0;
 margin: 0;
 background-color: black;

}

#flexcontainer {
  display: flex;
    flex-direction: column;
}


#intro, #first, #second, #third {
  height: 100vh;
  color: grey;
  padding: 5%;
  display: flex;
  flex-direction: row;

}

  #intro {
  background-color: blue;
  flex-direction: row;
  justify-content:flex-end;
  color: white;
  }

  #intro > #left {
    width: 50%;
    padding: 5%;
  }

  #intro > #right {
    #width: 50%;
    padding: 5%;
  }

  #intro > h3 {

    font-size: 2em;
    width: 500px;

  }

  #intro > p {

    font-size: 1em;
    width: 500px;

  }


  #first {
    background-color: yellow;
  }

#first > #left {
  width: 50%;
  padding: 5%;
}

#first > #right {
  #width: 50%;
  padding: 5%;
}

#second {
  background-color: green;
}

#second > #left {
  width: 50%;
  padding: 5%;
}

#second > #right {
  #width: 50%;
  padding: 5%;
}

#third {
  background-color: orange;

}

#third > #left {
  width: 50%;
  padding: 5%;
}

#third > #right {
  #width: 50%;
  padding: 5%;
}

.ui-dialog .ui-dialog-buttonpane {
  background-color: rgba(0,0,0,0);
  opacity: 0;
}

.ui-widget-header {
  background-color: rgba(0,0,0,0);
  color: white;
}

.ui-dialog .ui-dialog-content {
  background-color: white;
  opacity: 0;

}

.ui-widget-content {
  background-color: rgba(0,0,0,0);
  color: white;
}

.ui-dialog .ui-dialog-buttonpane button {
  background-color: none;
  color: white;
}

.ui-dialog .ui-dialog-titlebar-close {
  display:none;
}

.ui-widget-content {
  height: 300px;
  overflow: auto;
  padding: 5%;
  background-color: rgba(0,0,0,0);


}
